
.dice_box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
  font-size: 1.5em;
  border-radius: 0.5rem;
  text-align: center;
  width: 60px;
  height: 60px;
  margin: 15px;
  border: 0;
  background: #2fcc71;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

.dice_box:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: darken(#2fcc71, 10%);
}