.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  margin: 25px;
}

h1 {
  margin-left: 0.5rem;
}

.dice_inputs {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.dice_inputs > input {
  text-align: center;
  border: solid #4dabf7 0.125rem;
  box-shadow: inset 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05);
  width: 250px;
  background-color: #fff;
  padding: 0.2rem 0.3rem;
  font-size: 1rem;
  transition: all 0.1s ease-in-out;
  box-sizing: border-box;
}

.dice_inputs > .up_button {
  border: 1px solid transparent;
  background-color: #33a02d;
  font-size: 1rem;
  color: #fff;
  margin-left: 10px;
  border-radius: 5px;
  padding: 0 16px;
  letter-spacing: 1px;
  cursor: pointer;
  outline:none;
}

.dice_inputs > .up_button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: darken(#33a02d, 10%);
}

.dice_inputs > .down_button {
  border: 1px solid transparent;
  background-color: #f59b42;
  font-size: 1rem;
  color: #fff;
  margin-left: 10px;
  border-radius: 5px;
  padding: 0 16px;
  letter-spacing: 1px;
  cursor: pointer;
  outline:none;
}

.dice_inputs > .down_button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: darken(#f59b42, 10%);
}

.dice_inputs > * {
  margin-left: 0.8rem;
}

.roll_dice_btn {
  border: 1px solid transparent;
  width: 200px;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 3rem;
  background-color: #4dabf7;
  color: white;
  cursor: pointer;
  outline:none;
}

.roll_dice_btn:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: darken(#4dabf7, 10%);
}

.diceContainer {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.total_count {
  font-size: 1.3rem;
}
